:root {
    --principal-white: #FFFFFF;
    --secondary-grey: #C0C0C0;
    --background-site: #000000;
}

@font-face {
    src: url("../fonts/futura-medium-bt.ttf");
    font-family: futura-medium;
}

@font-face {
    src: url("../fonts/futura-light-bt.ttf");
    font-family: futura-light;
}

body {
    background-color: var(--background-site);
    color: var(--principal-white);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: futura-medium, Arial, Helvetica, sans-serif;
}

main {
    width: 100vw;
}

header img {
    filter: drop-shadow(0 0 0.75rem black);
    width: 60%;
    margin: auto;
    padding: 3%;
}

header {
    background-image: url("../img/fire-flames-on-black-background.jpg");
    background-position: center;
    width: 100vw;
    height: 20vw;
}

.image-header {
    width: 30%;
    height: 100%;
    margin: auto;
    text-align: center;
}

nav {
    width: 100vw;
    height: 5vw;
    display: flex;
}

nav div {
    width: 33%;
    height: 100%;
    display: inline-block;
    margin: auto;
    background-color: black;

}

nav div:hover {
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
}

nav div h1 {
    text-align: center;
    color: white;
    font-size: 1.2vw;
    padding: 5% 0;
    font-family: futura-medium, Arial, Helvetica, sans-serif;
}

nav div a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 20vw;
    background-color: black;
    display: flex;
}

.container div {
    width: 50%;
    height: 100%;
}

.container div p {
    padding: 40px;
    text-align: right;
    margin-top: 6%;
    margin-right: 2%;
    font-size: 1.2vw;

}

.quem-somos-div-img {
    background: linear-gradient(to right,
    rgba(0, 0, 0, 0) 20%,
    rgb(0, 0, 0)),
    url("../img/8a13d0d9-4914-4fea-aeb1-8fd2e4481669.jpg");
    background-size: cover;
}

#cardapio {
    width: 100%;
    min-height: 36vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardapio-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardapio-container:nth-child(1) {
    margin-right: 140px;
}

.cardapio-sessoes {
    width: 100%;
    height: 17%;
    display: flex;
    align-items: flex-end;
    background-color: black !important;

}

button.cardapio-sessoes {
    width: 200px;
    padding: 20px;
    text-align: center;
}

#cardapio button span {
    width: 100% !important;
    text-align: center;
    color: #FFFFFF;
    font-family: futura-light, Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
}

#cardapio button:hover, #cardapio button:active {
    border: 2px solid #FFFFFF;
}

ul#produto {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

ul#produto li {
    margin: 16px 0;
    padding-bottom: 2px;
    list-style: none !important;
    border-bottom: 1px solid #FFFFFF;
}

ul#produto li:before {
    content: '>';
    margin-right: 0.5rem;
}

#onde-estamos {
    width: 100%;
    height: 30vw;
    display: flex;
}

.onde-estamos-container1 {
    width: 50%;
    height: 100%;
}

.onde-estamos-container2 {
    width: 50%;
    height: 100%;
}

.onde-estamos-container-inside {
    padding: 5% 7%;
    width: 85%;
    height: 85%;

}


.onde-estamos-sessoes {
    width: 100%;
    height: 17%;
    display: flex;
    align-items: flex-end;
}

#onde-estamos div h1 {
    width: 40%;
    height: 95%;
    padding: 2.5%;
    text-align: center;
    margin-left: 20%;
    font-family: futura-light, Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 1.8vw;
}

#onde-estamos div h1:hover {
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
}

.onde-estamos-div-img {
    background: linear-gradient(to right,
    rgba(0, 0, 0, 0) 20%,
    rgb(0, 0, 0)),
    url("../img/9ea231e7-3068-40ba-8db1-a50495c8321b.jpg");
    background-size: cover;

}


.onde-estamos-div-map-orlando {
    width: 40vw;
    height: 25vw;
    background-image: url("../img/map-espetinho-orlando.png");
    background-size: cover;
    position: absolute;
}

.onde-estamos-div-map-atalaia {
    width: 40vw;
    height: 25vw;
    background-image: url("../img/map-espetinho-atalaia.png");
    background-size: cover;
    position: absolute;
}

input {
    display: none;
}

.btn-map1 {
    background-color: black;
    width: 40%;
    height: 95%;
    padding: 2.5%;
    text-align: center;
    margin-left: 20%;
    color: #FFFFFF;
    font-family: futura-light, Arial, Helvetica, sans-serif;

    font-size: 1.8vw;
}


.btn-map2 {
    background-color: black;
    width: 40%;
    height: 95%;
    padding: 2.5%;
    text-align: center;
    margin-left: 20%;
    color: #FFFFFF;
    font-family: futura-light, Arial, Helvetica, sans-serif;

    font-size: 1.8vw;
}

.btn-map1:hover {
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
}

.btn-map2:hover {
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
}

#orlando:checked ~ .onde-estamos-div-map-atalaia{
    opacity: 0%;
    transition:0.5s;
}

#atalaia:checked ~ .onde-estamos-div-map-atalaia{
    opacity: 100%;
    transition:0.5s;

}

.espetinhos {
    color: #FFFFFF;
    font-family: futura-light, Arial, Helvetica, sans-serif;
}

.btn-produtos {
    width: 40%;
    vertical-align: middle;
    height: 95%;
    padding: 2.5%;
    text-align: center;
    margin-left: 40%;
    color: #FFFFFF;
    font-family: futura-light, Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
}

.btn-produtos:hover {
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
}

